    <form method='get' action="/quizes/<%= quiz.id %>/answer">
      <p>Atención, pregunta de tipo <%= quiz.tema %> : <%= quiz.pregunta %></p>
      <input type="text" name="respuesta" value="Dime..." />
      <input type="submit" value="Enviar"/>
    </form>

<p><a href="/quizes/<%=quiz.id%>/comments/new"> <button>Añade comentario</button> </a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments) { %>
  <p>- <%= quiz.Comments[index].texto %> </p>
<% } %>
